@charset "utf-8";
/* CSS Document */
/* Drew Hughes CSS for 210 Portfolio*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#006600;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: georgia;
    font-size:4vw;
}

ul.topnav li a:hover:not(.active) {background-color: #4CAF50;}

ul.topnav li a.active {background-color:#4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 1000px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
img{
    float: right;
    width: 45%;
    padding:30px;
    margin-top:-80px;
}
p{
    font-size: 3vw;
    margin: 25px;
    
}
h1{
    font-size: 7vw;
    margin:25px;
}